@import "tailwindcss";
:root {
  --background: #121212;
  --foreground: #ffffff;
  --primary-gradient: linear-gradient(to right, #ff4d7e, #c348db);
  --orange-gradient: linear-gradient(to right, #ff7e00, #e6463b);
  --blue-gradient: linear-gradient(to right, #4282ff, #7a49ff);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  letter-spacing: -0.025em;
}

.primary-gradient-text {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.primary-gradient-bg {
  background: var(--primary-gradient);
}

.orange-gradient-bg {
  background: var(--orange-gradient);
}

.blue-gradient-bg {
  background: var(--blue-gradient);
}
